*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    /* background: linear-gradient(white,aqua);
    bac */
background-color: whitesmoke;
}
.card{
    width: 400px;
    height: 400px;
    background-color: red;
}